.cato{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -9px;

    span {
        text-decoration: underline;
        cursor: pointer;
    }

    .addCategory{
        font-size: 13px;
        padding: 15px 15px;
        background-color: #000;
        color: #fff;
        margin-left: 30px;
        cursor: pointer;
    }
}

.categories{

    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    height: max-content;

    .category{
        background-color: #fff;
        width: 350px;
        position: relative;
        margin-right: 20px;

        .image_category{

            height: 200px;
            overflow: hidden;
            display: flex;
            align-items: center;
            background-color: #000;

            img{
                width: 100%;
            }

            &:hover{
                .editFunction{
                    display: flex;
                }
            }

            .editFunction{
                background-color: rgba($color: #ffff, $alpha: .9);
                position: absolute;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                font-weight: bold;
                cursor: pointer;
                margin: 20px;
                border-radius: 100px;
                padding: 12px 15px;
                gap: 10px;
    
                .fi{
                    font-size: 14px;
                }
    
            }

        }

        .category_info{

            background-color: #fff;
            height: 150px;
            padding: 20px;

            .category_title{
                font-size: 24px;
                font-weight: bold;
            }

            .numProducts{
                margin-top: 10px;
                font-size: 14px;
                color: #777;
            }

            .lineThru{
                height: 1px;
                width: 100%;
                background-color: #eee;
                margin: 15px 0;
            }

            .create{
                font-size: 14px;
                color: #777;

                span{
                    color: #000;
                }
            }
        }

        .button_xy{
            background-color: #000;
            color: #fff;
            font-size: 13px;
            font-weight: bold;
            padding: 20px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
        }

        .deleteCategory{
            position: absolute;
            right: 0px;
            margin: 10px 10px;
            height: 38px;
            width: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: crimson;
            cursor: pointer;
            border-radius: 100%;
            z-index: 2;
        }
    }

}

