.loaders{
    position: absolute;
    background-color: #eee;
    z-index: 5;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}